.qian{
	color: #FF5053;
	font-size: 13px;
	font-weight: 100;
	float: right;
	padding-left: 10px;
}
.date{
	float: right;
	font-size: 12px;
}
.info{
	font-size: 12px;
}
.info>span,.local>span{
	font-size: 17px;
}
.local{
	font-size: 12px;
}
.local>span{
	color: #FF5053;
}
.fuli{
	display: inline-block;
	background-color: #E0E0ED;
	width: 70px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 5px;
	border-radius: 3px;
}
.headName{
	color: #333333;
} 
pre {
white-space: pre-wrap;
word-wrap: break-word;
}
.noblack{
	padding: 20px;
	border-top-left-radius:6px;border-top-right-radius:6px
}
hr{
	color: #CCCCFF;
	border-bottom: none;
	background-color: #CCCCFF;
}
.bottom{
	width: 25%;
	display: block;
	float: left;
	color: black;
	text-align: center;
	line-height: inherit;
}

